@using ElmahLogViewer.Elmah.Models;
@model IEnumerable<ElmahLogViewer.Elmah.Data.IServer>
<table class="cornered lists" style="width: 100%">
    <thead>
        <tr>
            <th>
                Environment
            </th>
            <th>
                Name
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Environment)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.ActionLink("View", "ErrorLog", new { serverId = item.ServerId }) |
                    @Html.ActionLink("Delete", "Delete", new { serverId = item.ServerId })
                </td>
            </tr>
        }
    </tbody>
</table>