@using ElmahLogViewer.Areas.Elmah.Models;
@model ServerForm
<div class="ui-grid-a">
    <div class="ui-block-a">
        Environment:
        @Html.DisplayFor(model => model.Environment)
    </div>
    <div class="ui-block-b">
        Name:
        @Html.DisplayFor(model => model.Name)
    </div>
</div>
<div data-role="fieldcontain" data-mini="true">
    ServerId:
    @Html.DisplayFor(model => model.ServerId)
</div>
