@model ElmahLogViewer.Models.ELMAH.Error
@{
    ViewBag.Title = "Error";
}
<h2>
    Error</h2>
@Html.DisplayFor(m => m.ServerDetails)
<fieldset>
    <legend>Error</legend>
@Html.DisplayFor(m => m.ElmahError)
</fieldset>
<p>
    @Html.ActionLink("Html", "Html", new { serverId = Model.ServerDetails.ServerId, errorId = Model.ErrorDetails.ErrorId })
    |
    @Html.ActionLink("Back to List", "ErrorLog", new { serverId = Model.ServerDetails.ServerId })
</p>