<form action="@Url.Action("Search", "Log")" method="get" id="searchForm">
<fieldset>
    <legend>Search</legend>
    <input type="text" name="filter" value="@ViewData["filter"]" />
    <input type="hidden" name="serverId" value="@ViewData["serverId"]" />
    <input type="submit" value="Search" />
</fieldset>
</form>
