.display-label, .editor-label
{
    display: inline-block;
    width: 33%;
}

.display-field, .editor-field
{
    display: inline-block;
    width: 64%;
}
.short-label .display-label, .short-label .editor-label
{
    display: inline-block;
    width: 10%;
}

.short-label .display-field, .short-label .editor-field
{
    display: inline-block;
    width: 88%;
}
.left
{
    float: left;
}
.fifty-percent
{
    width: 46%;
    margin-right: 2%;
    margin-left: 2%;
}
.clearfix
{
    clear: both;
}