@using ElmahLogViewer.Elmah.Models;
@model ServerForm
<section class="server">
    <div class="display-label">
        Environment</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Environment)
    </div>
    <div class="display-label">
        Name</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>
    <div class="display-label">
        ServerId</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ServerId)
    </div>
</section>