<?xml version="1.0" encoding="utf-8"?>
<!--

This file is used by the publish/package process of your Web project. You can customize the behavior of this process

by customizing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121.

-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>FileSystem</WebPublishMethod>
    <LaunchASiteUrlAfterPublish>False</LaunchASiteUrlAfterPublish>
    <SiteUrlToLaunchAfterPublish />
    <publishUrl>C:\publish\elmahlogviewer\mobile</publishUrl>
    <DeleteExistingFiles>True</DeleteExistingFiles>
  </PropertyGroup>
  <ItemGroup>
    <File Include="App_Readme/Elmah.SqlServer.sql">
      <publishTime>03/27/2012 15:11:57</publishTime>
    </File>
    <File Include="App_Readme/Elmah.SqlServer.txt">
      <publishTime>03/27/2012 15:11:55</publishTime>
    </File>
    <File Include="Areas/Elmah/Views/Log/AdvancedSearch.cshtml">
      <publishTime>03/29/2012 09:38:41</publishTime>
    </File>
    <File Include="Areas/Elmah/Views/Log/Create.cshtml">
      <publishTime>03/28/2012 08:55:08</publishTime>
    </File>
    <File Include="Areas/Elmah/Views/Log/Delete.cshtml">
      <publishTime>03/27/2012 15:56:32</publishTime>
    </File>
    <File Include="Areas/Elmah/Views/Log/DisplaySortByProperty.cshtml">
      <publishTime>03/27/2012 21:52:29</publishTime>
    </File>
    <File Include="Areas/Elmah/Views/Log/DisplayTemplates/BottomConstraints.cshtml">
      <publishTime>03/27/2012 15:56:32</publishTime>
    </File>
    <File Include="Areas/Elmah/Views/Log/DisplayTemplates/Error.cshtml">
      <publishTime>03/29/2012 09:34:38</publishTime>
    </File>
    <File Include="Areas/Elmah/Views/Log/DisplayTemplates/Errors.cshtml">
      <publishTime>03/27/2012 21:50:39</publishTime>
    </File>
    <File Include="Areas/Elmah/Views/Log/DisplayTemplates/ServerForm.cshtml">
      <publishTime>03/28/2012 13:14:35</publishTime>
    </File>
    <File Include="Areas/Elmah/Views/Log/DisplayTemplates/Servers.cshtml">
      <publishTime>03/27/2012 16:36:47</publishTime>
    </File>
    <File Include="Areas/Elmah/Views/Log/DisplayTemplates/TopConstraints.cshtml">
      <publishTime>03/27/2012 22:20:54</publishTime>
    </File>
    <File Include="Areas/Elmah/Views/Log/EditorTemplates/HiddenServerForm.cshtml">
      <publishTime>03/27/2012 15:56:32</publishTime>
    </File>
    <File Include="Areas/Elmah/Views/Log/EditorTemplates/SearchServerForm.cshtml">
      <publishTime>03/27/2012 15:56:32</publishTime>
    </File>
    <File Include="Areas/Elmah/Views/Log/EditorTemplates/ServerForm.cshtml">
      <publishTime>03/28/2012 08:57:13</publishTime>
    </File>
    <File Include="Areas/Elmah/Views/Log/Error.cshtml">
      <publishTime>03/29/2012 09:01:09</publishTime>
    </File>
    <File Include="Areas/Elmah/Views/Log/ErrorLog.cshtml">
      <publishTime>03/29/2012 09:39:10</publishTime>
    </File>
    <File Include="Areas/Elmah/Views/Log/Index.cshtml">
      <publishTime>03/28/2012 08:53:39</publishTime>
    </File>
    <File Include="Areas/Elmah/Views/Log/SetConstraintsPager.cshtml">
      <publishTime>03/29/2012 09:43:00</publishTime>
    </File>
    <File Include="Areas/Elmah/Views/Log/SimpleSearch.cshtml">
      <publishTime>03/27/2012 22:21:53</publishTime>
    </File>
    <File Include="Areas/Elmah/Views/Log/SortByProperty.cshtml">
      <publishTime>03/27/2012 21:52:04</publishTime>
    </File>
    <File Include="Areas/Elmah/Views/Shared/DisplayTemplates/DateTime.cshtml">
      <publishTime>03/27/2012 15:56:33</publishTime>
    </File>
    <File Include="Areas/Elmah/Views/Shared/DisplayTemplates/NameValueCollection.cshtml">
      <publishTime>03/29/2012 09:26:58</publishTime>
    </File>
    <File Include="Areas/Elmah/Views/Shared/EditorTemplates/DateTime.cshtml">
      <publishTime>03/27/2012 15:56:33</publishTime>
    </File>
    <File Include="Areas/Elmah/Views/Shared/ViewDataHiddenInput.cshtml">
      <publishTime>03/27/2012 15:56:33</publishTime>
    </File>
    <File Include="Areas/Elmah/Views/Shared/ViewDataTextBoxInput.cshtml">
      <publishTime>03/27/2012 15:56:33</publishTime>
    </File>
    <File Include="Areas/Elmah/Views/Web.config">
      <publishTime>03/27/2012 15:54:29</publishTime>
    </File>
    <File Include="Areas/Elmah/Views/_ViewStart.cshtml">
      <publishTime>03/27/2012 15:56:33</publishTime>
    </File>
    <File Include="Areas/Web.config">
      <publishTime>03/27/2012 15:21:18</publishTime>
    </File>
    <File Include="bin/Dynamic.dll">
      <publishTime>03/29/2012 10:18:06</publishTime>
    </File>
    <File Include="bin/Dynamic.pdb">
      <publishTime>03/29/2012 10:18:06</publishTime>
    </File>
    <File Include="bin/Elmah.dll">
      <publishTime>03/19/2012 13:22:56</publishTime>
    </File>
    <File Include="bin/ElmahLogViewer.dll">
      <publishTime>03/29/2012 10:18:08</publishTime>
    </File>
    <File Include="bin/ElmahLogViewer.pdb">
      <publishTime>03/29/2012 10:18:08</publishTime>
    </File>
    <File Include="bin/EntityFramework.dll">
      <publishTime>03/27/2012 15:12:32</publishTime>
    </File>
    <File Include="bin/EntityFramework.xml">
      <publishTime>03/27/2012 15:12:33</publishTime>
    </File>
    <File Include="bin/Microsoft.Web.Infrastructure.dll">
      <publishTime>03/19/2012 13:23:01</publishTime>
    </File>
    <File Include="bin/Microsoft.Web.Mvc.dll">
      <publishTime>03/19/2012 13:23:02</publishTime>
    </File>
    <File Include="bin/mvc4.beta.mobile.ElmahLogViewer.dll">
      <publishTime>03/29/2012 10:18:09</publishTime>
    </File>
    <File Include="bin/mvc4.beta.mobile.ElmahLogViewer.pdb">
      <publishTime>03/29/2012 10:18:09</publishTime>
    </File>
    <File Include="bin/MvcContrib.dll">
      <publishTime>03/22/2012 21:20:16</publishTime>
    </File>
    <File Include="bin/System.Json.dll">
      <publishTime>03/19/2012 13:23:02</publishTime>
    </File>
    <File Include="bin/System.Json.xml">
      <publishTime>03/19/2012 13:23:02</publishTime>
    </File>
    <File Include="bin/System.Net.Http.dll">
      <publishTime>03/19/2012 13:23:02</publishTime>
    </File>
    <File Include="bin/System.Net.Http.Formatting.dll">
      <publishTime>03/19/2012 13:23:02</publishTime>
    </File>
    <File Include="bin/System.Net.Http.Formatting.xml">
      <publishTime>03/19/2012 13:23:02</publishTime>
    </File>
    <File Include="bin/System.Net.Http.WebRequest.dll">
      <publishTime>03/19/2012 13:23:02</publishTime>
    </File>
    <File Include="bin/System.Net.Http.WebRequest.xml">
      <publishTime>03/19/2012 13:23:02</publishTime>
    </File>
    <File Include="bin/System.Net.Http.xml">
      <publishTime>03/19/2012 13:23:02</publishTime>
    </File>
    <File Include="bin/System.Web.Helpers.dll">
      <publishTime>03/19/2012 13:22:54</publishTime>
    </File>
    <File Include="bin/System.Web.Helpers.xml">
      <publishTime>03/19/2012 13:22:54</publishTime>
    </File>
    <File Include="bin/System.Web.Http.Common.dll">
      <publishTime>03/19/2012 13:23:02</publishTime>
    </File>
    <File Include="bin/System.Web.Http.Common.xml">
      <publishTime>03/19/2012 13:23:02</publishTime>
    </File>
    <File Include="bin/System.Web.Http.dll">
      <publishTime>03/19/2012 13:22:54</publishTime>
    </File>
    <File Include="bin/System.Web.Http.WebHost.dll">
      <publishTime>03/19/2012 13:22:54</publishTime>
    </File>
    <File Include="bin/System.Web.Http.WebHost.xml">
      <publishTime>03/19/2012 13:22:54</publishTime>
    </File>
    <File Include="bin/System.Web.Http.xml">
      <publishTime>03/19/2012 13:22:54</publishTime>
    </File>
    <File Include="bin/System.Web.Mvc.dll">
      <publishTime>03/19/2012 13:22:54</publishTime>
    </File>
    <File Include="bin/System.Web.Mvc.xml">
      <publishTime>03/19/2012 13:22:54</publishTime>
    </File>
    <File Include="bin/System.Web.Optimization.dll">
      <publishTime>03/19/2012 13:23:02</publishTime>
    </File>
    <File Include="bin/System.Web.Providers.dll">
      <publishTime>03/20/2012 17:21:24</publishTime>
    </File>
    <File Include="bin/System.Web.Razor.dll">
      <publishTime>03/19/2012 13:22:54</publishTime>
    </File>
    <File Include="bin/System.Web.Razor.xml">
      <publishTime>03/19/2012 13:22:54</publishTime>
    </File>
    <File Include="bin/System.Web.WebPages.Deployment.dll">
      <publishTime>03/19/2012 13:22:54</publishTime>
    </File>
    <File Include="bin/System.Web.WebPages.Deployment.xml">
      <publishTime>03/19/2012 13:22:54</publishTime>
    </File>
    <File Include="bin/System.Web.WebPages.dll">
      <publishTime>03/19/2012 13:22:55</publishTime>
    </File>
    <File Include="bin/System.Web.WebPages.Razor.dll">
      <publishTime>03/19/2012 13:22:55</publishTime>
    </File>
    <File Include="bin/System.Web.WebPages.Razor.xml">
      <publishTime>03/19/2012 13:22:55</publishTime>
    </File>
    <File Include="bin/System.Web.WebPages.xml">
      <publishTime>03/19/2012 13:22:55</publishTime>
    </File>
    <File Include="Content/images/ajax-loader.png">
      <publishTime>03/27/2012 15:18:26</publishTime>
    </File>
    <File Include="Content/images/icons-18-black.png">
      <publishTime>03/27/2012 15:18:26</publishTime>
    </File>
    <File Include="Content/images/icons-18-white.png">
      <publishTime>03/27/2012 15:18:25</publishTime>
    </File>
    <File Include="Content/images/icons-36-black.png">
      <publishTime>03/27/2012 15:18:25</publishTime>
    </File>
    <File Include="Content/images/icons-36-white.png">
      <publishTime>03/27/2012 15:18:25</publishTime>
    </File>
    <File Include="Content/jquery.mobile-1.0.1.css">
      <publishTime>03/27/2012 15:18:24</publishTime>
    </File>
    <File Include="Content/jquery.mobile-1.0.1.min.css">
      <publishTime>03/27/2012 15:18:24</publishTime>
    </File>
    <File Include="Content/jquery.mobile.structure-1.0.1.css">
      <publishTime>03/27/2012 15:18:24</publishTime>
    </File>
    <File Include="Content/jquery.mobile.structure-1.0.1.min.css">
      <publishTime>03/27/2012 15:18:24</publishTime>
    </File>
    <File Include="Content/Site.css">
      <publishTime>03/27/2012 15:10:16</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-bg_flat_0_aaaaaa_40x100.png">
      <publishTime>03/27/2012 15:16:15</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-bg_flat_75_ffffff_40x100.png">
      <publishTime>03/27/2012 15:16:15</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-bg_glass_55_fbf9ee_1x400.png">
      <publishTime>03/27/2012 15:16:15</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-bg_glass_65_ffffff_1x400.png">
      <publishTime>03/27/2012 15:16:15</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-bg_glass_75_dadada_1x400.png">
      <publishTime>03/27/2012 15:16:14</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-bg_glass_75_e6e6e6_1x400.png">
      <publishTime>03/27/2012 15:16:14</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-bg_glass_95_fef1ec_1x400.png">
      <publishTime>03/27/2012 15:16:14</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-bg_highlight-soft_75_cccccc_1x100.png">
      <publishTime>03/27/2012 15:16:14</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-icons_222222_256x240.png">
      <publishTime>03/27/2012 15:16:14</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-icons_2e83ff_256x240.png">
      <publishTime>03/27/2012 15:16:13</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-icons_454545_256x240.png">
      <publishTime>03/27/2012 15:16:13</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-icons_888888_256x240.png">
      <publishTime>03/27/2012 15:16:13</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-icons_cd0a0a_256x240.png">
      <publishTime>03/27/2012 15:16:13</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.accordion.css">
      <publishTime>03/27/2012 15:16:13</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.all.css">
      <publishTime>03/27/2012 15:16:12</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.autocomplete.css">
      <publishTime>03/27/2012 15:16:12</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.base.css">
      <publishTime>03/27/2012 15:16:12</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.button.css">
      <publishTime>03/27/2012 15:16:12</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.core.css">
      <publishTime>03/27/2012 15:16:12</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.datepicker.css">
      <publishTime>03/27/2012 15:16:12</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.dialog.css">
      <publishTime>03/27/2012 15:16:11</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.progressbar.css">
      <publishTime>03/27/2012 15:16:11</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.resizable.css">
      <publishTime>03/27/2012 15:16:11</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.selectable.css">
      <publishTime>03/27/2012 15:16:11</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.slider.css">
      <publishTime>03/27/2012 15:16:11</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.tabs.css">
      <publishTime>03/27/2012 15:16:11</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.theme.css">
      <publishTime>03/27/2012 15:16:10</publishTime>
    </File>
    <File Include="favicon.ico">
      <publishTime>03/27/2012 15:10:17</publishTime>
    </File>
    <File Include="Global.asax">
      <publishTime>03/27/2012 15:10:17</publishTime>
    </File>
    <File Include="packages.config">
      <publishTime>03/27/2012 15:19:50</publishTime>
    </File>
    <File Include="Scripts/core.js">
      <publishTime>03/27/2012 16:20:27</publishTime>
    </File>
    <File Include="Scripts/jquery-1.7.1-vsdoc.js">
      <publishTime>03/27/2012 15:13:16</publishTime>
    </File>
    <File Include="Scripts/jquery-1.7.1.js">
      <publishTime>03/27/2012 15:13:16</publishTime>
    </File>
    <File Include="Scripts/jquery-1.7.1.min.js">
      <publishTime>03/27/2012 15:13:16</publishTime>
    </File>
    <File Include="Scripts/jquery-ui-1.8.18.js">
      <publishTime>03/27/2012 15:16:10</publishTime>
    </File>
    <File Include="Scripts/jquery-ui-1.8.18.min.js">
      <publishTime>03/27/2012 15:16:10</publishTime>
    </File>
    <File Include="Scripts/jquery.mobile-1.0.1.js">
      <publishTime>03/27/2012 15:18:24</publishTime>
    </File>
    <File Include="Scripts/jquery.mobile-1.0.1.min.js">
      <publishTime>03/27/2012 15:18:23</publishTime>
    </File>
    <File Include="Scripts/jquery.unobtrusive-ajax.js">
      <publishTime>03/27/2012 15:10:36</publishTime>
    </File>
    <File Include="Scripts/jquery.unobtrusive-ajax.min.js">
      <publishTime>03/27/2012 15:10:35</publishTime>
    </File>
    <File Include="Scripts/jquery.validate-vsdoc.js">
      <publishTime>03/27/2012 15:16:49</publishTime>
    </File>
    <File Include="Scripts/jquery.validate.js">
      <publishTime>03/27/2012 15:16:49</publishTime>
    </File>
    <File Include="Scripts/jquery.validate.min.js">
      <publishTime>03/27/2012 15:16:49</publishTime>
    </File>
    <File Include="Scripts/jquery.validate.unobtrusive.js">
      <publishTime>03/27/2012 15:10:35</publishTime>
    </File>
    <File Include="Scripts/jquery.validate.unobtrusive.min.js">
      <publishTime>03/27/2012 15:10:34</publishTime>
    </File>
    <File Include="Scripts/knockout.debug.js">
      <publishTime>03/27/2012 15:18:00</publishTime>
    </File>
    <File Include="Scripts/knockout.js">
      <publishTime>03/27/2012 15:18:00</publishTime>
    </File>
    <File Include="Scripts/modernizr-2.5.3.js">
      <publishTime>03/27/2012 15:17:30</publishTime>
    </File>
    <File Include="Scripts/_references.js">
      <publishTime>03/27/2012 15:10:17</publishTime>
    </File>
    <File Include="Views/Home/About.cshtml">
      <publishTime>03/27/2012 15:10:17</publishTime>
    </File>
    <File Include="Views/Home/Contact.cshtml">
      <publishTime>03/27/2012 15:10:17</publishTime>
    </File>
    <File Include="Views/Home/Index.cshtml">
      <publishTime>03/27/2012 15:38:11</publishTime>
    </File>
    <File Include="Views/Shared/Error.cshtml">
      <publishTime>03/27/2012 15:10:17</publishTime>
    </File>
    <File Include="Views/Shared/_Layout.cshtml">
      <publishTime>03/27/2012 16:23:23</publishTime>
    </File>
    <File Include="Views/Web.config">
      <publishTime>03/27/2012 15:10:17</publishTime>
    </File>
    <File Include="Views/_ViewStart.cshtml">
      <publishTime>03/27/2012 15:10:17</publishTime>
    </File>
    <File Include="Web.config">
      <publishTime>03/29/2012 10:18:10</publishTime>
    </File>
  </ItemGroup>
</Project>