@model System.Collections.Specialized.NameValueCollection
<section class="name-value">
    @helper NameValueItem(string key)
        {
        <div class="key-pair">
            <div class="display-label">
                @key</div>
            <div class="display-field">
                <pre>@Model[key].BreakLongString(80)</pre>
            </div>
        </div>
    }
    @foreach (var item in Model.AllKeys)
    {
        @NameValueItem(item)
    }
</section>