<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="ElmahLogViewer.Areas.Elmah.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="ElmahLogViewer.Areas.Elmah.Properties.Settings.ElmahConnectionString"
      connectionString="Data Source=spock;Initial Catalog=Elmah;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <applicationSettings>
    <ElmahLogViewer.Areas.Elmah.Properties.Settings>
      <setting name="ConectionStringKey" serializeAs="String">
        <value>ElmahLogViewer.Areas.Elmah.Properties.Settings.ElmahConnectionString</value>
      </setting>
    </ElmahLogViewer.Areas.Elmah.Properties.Settings>
  </applicationSettings>
</configuration>