@model System.Collections.Specialized.NameValueCollection
@helper NameValueItem(string key)
    {
    <div class="display-label">
        @key</div>
    <div class="display-field">
        <pre>@Model[key].BreakLongString(80)</pre>
    </div>
}
@foreach (var item in Model.AllKeys)
{
    @NameValueItem(item)
}