@{
    ViewBag.Title = "About Us";
}
<h2>
    About</h2>
<p>
    This is an Elmah Log viewer for searching and viewing multiple Elmah sql-based logs
    across different servers.
    <ul>
        <li>Version: beta
            <ul>
                <li>View and page through the servers logs</li>
                <li>Search for a specific server log by partial name, connection string or environment</li>
                <li>View and page through the server error log.</li>
                <li>Search the log across all text fields</li>
                <li>view a specific error detail</li>
                <li>View the server html error message (if it exists)</li>
            </ul>
        </li>
        <li>Version: upcoming
            <ul>
                <li>View all the server details that are available through the Elmah log naturally.</li>
                <li>Advance filter against the server logs</li>
                <li>Advanced search for the specific server logs</li>
                <li>Search across all known server logs</li>
                <li>sort desc/asc on list of servers and on error log</li>
                <li>Update Look & Feel</li>
            </ul>
        </li>
    </ul>
</p>